.nav-link-color{
    display: block;
    padding: 1rem;
    background-color: brown;
    font-size: small;
    font-weight: 300;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: white;
    border-radius: 2px;
  }
  .nav-link-color:hover{
    color: black;
  }
  .nav-link-sinColor{
    display: block;
    padding: 1rem;
    font-size: small;
    font-weight: 300;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: black;
    border-radius: 2px;
  }
  
  .nav-link-sinColor:hover{
    color: black;
  }
@media screen and (max-width : 1366px){
    .nav-link{
        font-size: small;
    }
}