.modalClass{
    width: 100%;
    height: 100vh;
    z-index: 99999;
}
.cortina{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(104, 104, 101, 0.35);
}
.modalBodyClass{
    position : absolute;    
    z-index: 40;
    width: 45rem;
    height: 20rem;
    border-radius: 10px;
    border: 2px solid rgb(157, 156, 156);
    background-color: rgba(223, 120, 105);
    top: 25%;
    left: 25%;
}
.selectModal {
  height: 15rem;
}
.selectMenus {
  height: 80%;
}
.transitionClassUp {
  animation: transition 0.3s;
  transition: 0.2s;
}

@keyframes transition {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.btn-danger {
  background-color: rgb(194, 33, 50);
  border: none;
}
.btn-danger:hover {
  background-color: rgb(188, 23, 40);
  border: none;
}






/* color del modal estandarizado a confirmar con Luis */
.btn-info{
  --bs-btn-bg:rgba(223, 120, 105);
  --bs-btn-border-color: rgba(223, 120, 105);
  --bs-btn-hover-bg: rgba(223, 120, 105);
  --bs-btn-hover-border-color: rgba(223, 120, 105);
}
.btn:first-child:active{
  --bs-btn-bg:rgba(223, 120, 105);
  --bs-btn-border-color: rgba(223, 120, 105);
  --bs-btn-hover-bg: rgba(223, 120, 105);
  --bs-btn-hover-border-color: rgba(223, 120, 105);
}
.btn:first-child:active, :not(.btn-check)+.btn:active{
  color: #fff;
  --bs-btn-bg:rgba(223, 120, 105);
  --bs-btn-border-color: rgba(223, 120, 105);
  --bs-btn-hover-bg: rgba(223, 120, 105);
  --bs-btn-hover-border-color: rgba(223, 120, 105);
}

.btn-info {
  color: #fff;
  text-decoration-color: #fff;
  background-color:  rgba(223, 120, 105);
  border: 1px solid  rgba(223, 120, 105);
}
.btn-info :hover {
  color: #fff;
  text-decoration-color: #fff;
  background-color:  rgba(213, 110, 95);
  border: 1px solid  rgba(223, 120, 105);
}
.btn-info :active {
  color: #fff;
  text-decoration-color: #fff;
  background-color:  rgba(223, 120, 105);
  border: 1px solid  rgba(223, 120, 105);
}
.btn-info :focus {
  color: #fff;
  text-decoration-color: #fff;
  background-color:  rgba(223, 120, 105);
  border: 1px solid  rgba(223, 120, 105);
}
.btn-info ::after {
  color: #fff;
  text-decoration-color: #fff;
  background-color:  rgba(223, 120, 105);
  border: 1px solid  rgba(223, 120, 105);
}
.btn-info ::before {
  color: #fff;
  text-decoration-color: #fff;
  background-color:  rgba(223, 120, 105);
  border: 1px solid  rgba(223, 120, 105);
}