.modalClass{
    width: 100%;
    height: 100vh;
    z-index: 99999;
    
}
.cortinaEmpleadores{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(104, 104, 101, 0.541);
    
}
.inputCalle{
    width: 10rem;
    /* height: 5rem; */
    /* margin-left: 3rem; */
    margin-right: 3rem;
    border: none;
    background-color: transparent;
    color: white;
    /* font-size: 1.5rem; */
    /* text-align: center; */
}
.inputNumeroEmpleadores{
    width: 8rem;
    /* height: 5rem; */
    margin-left: 7rem;
    border: none;
    background-color: transparent;
    color: white;
    /* font-size: 1.5rem; */
    /* text-align: center; */
}
.inputBarrioEmp{
    /* width: 35rem; */
    /* height: 5rem; */
    /* margin-left: 3rem; */
    border: none;
    background-color: transparent;
    color: white;
    /* font-size: 1.5rem; */
    /* text-align: center; */
}
.modalBodyClassEmpleadores{
    position : absolute;    
    z-index: 40;
    color: black;
    width: 50vw;
    border-radius: 10px;
    border: 2px solid rgb(128, 124, 124);
    background-color: rgb(187, 45, 59, 0.6);
    color:#fff;
    /* color : rgb(77, 4, 4); */
    background-color: rgba(223, 120, 120, 0.911);
    top: 25%;
    left: 25%;
}
.buttonModal{
    /* color: white;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 2rem; */
}

.selectModalEmpleadores{
    height: auto;
}
.selectMenusEmpleadores{
    height: 80%;
}
.transitionClassUp{
    animation: transition 1s;
    transition: 0.3s;
}

@keyframes transition{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

/* color del modal estandarizado a confirmar con Luis */
.btn-danger {
  background-color: rgb(194, 33, 50);
  border: none;
}
.btn-danger:hover {
  background-color: rgb(188, 23, 40);
  border: none;
}
.btn-info{
  --bs-btn-bg:rgba(223, 120, 105);
  --bs-btn-border-color: rgba(223, 120, 105);
  --bs-btn-hover-bg: rgba(223, 120, 105);
  --bs-btn-hover-border-color: rgba(223, 120, 105);
}
.btn:first-child:active{
  --bs-btn-bg:rgba(223, 120, 105);
  --bs-btn-border-color: rgba(223, 120, 105);
  --bs-btn-hover-bg: rgba(223, 120, 105);
  --bs-btn-hover-border-color: rgba(223, 120, 105);
}
.btn:first-child:active, :not(.btn-check)+.btn:active{
  color: #fff;
  --bs-btn-bg:rgba(223, 120, 105);
  --bs-btn-border-color: rgba(223, 120, 105);
  --bs-btn-hover-bg: rgba(223, 120, 105);
  --bs-btn-hover-border-color: rgba(223, 120, 105);
}

.btn-info {
  color: #fff;
  text-decoration-color: #fff;
  background-color:  rgba(223, 120, 105);
  border: 1px solid  rgba(223, 120, 105);
}
.btn-info :hover {
  color: #fff;
  text-decoration-color: #fff;
  background-color:  rgba(213, 110, 95);
  border: 1px solid  rgba(223, 120, 105);
}
.btn-info :active {
  color: #fff;
  text-decoration-color: #fff;
  background-color:  rgba(223, 120, 105);
  border: 1px solid  rgba(223, 120, 105);
}
.btn-info :focus {
  color: #fff;
  text-decoration-color: #fff;
  background-color:  rgba(223, 120, 105);
  border: 1px solid  rgba(223, 120, 105);
}
.btn-info ::after {
  color: #fff;
  text-decoration-color: #fff;
  background-color:  rgba(223, 120, 105);
  border: 1px solid  rgba(223, 120, 105);
}
.btn-info ::before {
  color: #fff;
  text-decoration-color: #fff;
  background-color:  rgba(223, 120, 105);
  border: 1px solid  rgba(223, 120, 105);
}